<%- include("partials/header") %>
<h1>Movies List</h1>
<div>
<a href="/" style="right: 100px; position: fixed;"><input type="submit" value="Search again!"></a>

<% if(movies.Search){%>
    <ul>
    <% movies.Search.forEach(function(movie){ %>
        <li><%= movie.Title %> - <strong><%= movie.imdbID %></strong></li><br>
        <img src="<%= movie.Poster %>" width="80" height="100"> </img>
    <% }); %>
</ul>
    <% }else{%>
    <h2>Please search a valid movie name!</h2>
    <% }%>
</div>
<%- include("partials/footer") %>